{% extends "peershake/base.html" %}
{% load crispy_forms_tags %}
 
{% block content %}
<style>
.body{
    max-width: 100vw;
    overflow:hidden;
}
.style1{
    font-size: 14px;
    word-wrap: break-word;
}
.style-header{
    font-weight: bold;
}
.style-body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
</style>
<body class=style-body>
    <div >
        <div class = "row">
            {%if main is None%}
            <p>There are no comments associated with this preprint. Click on 'Submit Review' if you would like to be the first one.</p>
            {%endif%}
            {%for obj in main%}
            <div class="col-sm-12" style="{% if forloop.counter != 1 %}border-top: 1px solid gray{% endif %}">
                <div class="row">
                    <div class = "col-md-6 col-md-push-6">
                        <p class ='style1 text-left'><span class="style-header">Reviewer:</span> {{obj.name}}</p>
                        <p class ='style1 text-left'><span class="style-header">Email:</span> {{obj.email}}</p>
                        <p class ='style1 text-left'>{{obj.date}}</p>
                    </div>
                    <div class = "col-md-6 col-md-push-6">
                        <h6 class="style-header text-left">General Comments</h6>
                        <p class="style1 text-left">{{obj.genComment}}</p>

                        <p class="style-header text-left">Special Commments</p>
                        <p class="style1 text-left">{{obj.specComment}}</p>
                    </div>
                </div>
            </div>
            {%endfor%}
        </div>
    </div>
         
</body>
{%endblock%}
