{% extends "peershake/base.html" %}
{% load crispy_forms_tags %}
 
{% block content %}
<style>
.asteriskField{
    display: none;
}
.style-body{
    font-weight: bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border:none;
}
.form-control{
    border-radius: 0%;
    margin: 0px 0px 5px 0px;
}
.btnBorder{
    border-color: gray;
}
.btnBorder:hover{
    background-color: gray;
    border-color:none;
    color: white;
}
</style>
<div>
    <div class="col-sm-offset-1 col-sm-12 text-center style-body ">
        <form method="post" action="{% url 'chromeExtension' %}?title={{title}}&url={{url|urlencode}}" class="text-center border border-light p-5">
            {% csrf_token %}
            <div class="row border-0">
                <div class="col-6 text-left">
                    {{form.name|as_crispy_field}}
                </div>
                <div class="col-6 text-left">
                    {{form.email|as_crispy_field}}
                </div>
            </div>
            {{form.genComment|as_crispy_field}}
            {{form.specComment|as_crispy_field}}
            <button type="submit" class="btn my-4 btn-block btnBorder">Submit Review</button>
        </form>
    </div>
</div>
{% endblock %}
    
<!-- <form method = "post" action="{% url 'chromeExtension' %}">
    {%csrf_token%}

    <label for="name">Your Name: </label>
    <input id="name" type="text" name="name" value="{{name}}">

    <label for="email">Email: </label>
    <input id="email" type="email" name="email" value="{{email}}">

    <label for="genComment">General Comments: </label>
    <input id= "genComment" type="textarea" name="genComment" value="{{genComment}}">

    <label for="specComment">Specific Comments: </label>
    <input id="specComment" type="textarea" name="specComment" value="{{specComment}}">

    <input type="submit" value="OK">
</form>
 -->
