{% extends "peershake/base.html" %}
{% load filters %}

{% block header %}
<head>
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->
    <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
</head>
{{ block.super }}
      {% with active_page="index" %}
      {% endwith %}
{% endblock %}
{% block content %}
<body>
    <div id="header">
        <nav class='navbar navbar-default navbar-stati-top bg-light'>
          <div class="container-fluid">
              
              <div class="navbar-header">    
                <div style="display: table-row; vertical-align: middle;">
                  <div stle="display: table-cell; vertical-align: middle; width: 10px">
                        PeerShake
                  </div>
                </div>
              </div>
              <ul class="nav navbar-nav navbar-right">
                {% if not user.is_authenticated %}
                  <li{% if active_page == "login" %} class="active"{% endif %}>
                    <a href="{% url 'account_login' %}">Login</a>
                  </li>
                  <li{% if active_page == "register" %} class="active"{% endif %}>
                    <a href="{% url 'account_signup' %}">Sign up</a>
                  </li>
                {% else %}
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle headx" data-toggle="dropdown" role="button"
                      aria-haspopup="true"
                      aria-expanded="false">{{ user.email }} ({{ user.username }})</a>
                    <ul class="dropdown-menu">
                      <li>
                        <a href="{% url 'account_email' %}">Settings</a>
                      </li>
                      <li role="separator" class="divider" />
                      <li>
                        <a href="{% url 'account_logout' %}">Logout</a>
                      </li>
                    </ul>
                  </li>
                {% endif %}
              </ul>
          </div>
        </nav>
      </div>
    </br>

    <div class="col-sm-12 text-center">
      <h2>Peershake!</h2>
      <h6>A community-driven peer review system for bioRxiv.

        </h6>
      </br>
    </br>
    </div>
    <div class="container">
      <div class="col-sm-offset-1 col=sm-9 text-center">
          <form class="form" method="GET">
            <div class= "input-group input=group-lg">
              <input
              aria-label="Search"
              autofocus
              class="form-control"
              name="q"
              placeholder="Search PeerShake for Paper to Review"
              style="flex: 1 0 auto"
              type="text"
              value="{{ simpleMain }}"
            />
            <div class="input-group-btn">
              <button
                type="submit"
                class="btn btn-primary"
              >
                Search
              </button>
            </div>
          </div>
          </form>
        </div>      
    </div>
</body>
{% endblock %}
